{% extends "main/base.html" %}

{% block title %}
id
{% endblock %}

{% block content %}
<h1 id="titulo">Integração do negócio com a Auvo</h1>
<div class="costumers_div">
    {% for deal in deals%}
        {% if deal.id == id %}
            <div class="main_costumer">
                <h2>{{deal.title}}</h2>
                <p><b>Telefone:</b> {{deal.cosutmer.phone}}</p>
                <p><b>Email:</b> {{deal.email}}</p>
                <p><b>Endereço:</b> {{deal.street}} - {{deal.district}} - {{deal.city}} - {{deal.state}}</p>
                <p><b>Empresa:</b> {{deal.organization.name}}</p>
            </div>
        {% endif %}
    {% endfor %}
    
    <!-- <div class="other_costumer"><p>Este é um cliente</p></div> -->
</div>
<form method="post" action="#">
    {% csrf_token %}
    <div class="buttons">
        <button type="submit" class="btn_add">
            Adicionar
        </button>
        <button type="submit" class="btn_jmp">
            Pular
        </button>
    </div>
</form>



{% endblock %}