{% extends "main/base.html" %}

{% block title %}
{% for deal in deals %}
    {% if deal.id == id %}
        {{deal.title}}
    {% endif %}
{% endfor %}
{% endblock %}

{% block content %}
<div class="main_div">
<div class="header_content"><h1>Integração do negócio com a Auvo</h1></div>

<div class="costumers_div">
    {% for deal in deals%}
        {% if deal.id == id %}
            <div class="main_costumer">
                <h2>{{deal.title}}</h2> 
                
                <div class="block_info">
                    <p class="block_info_title"><b>Telefone:</b></p>
                    <p class="block_info_data">{{deal.costumer.phone}}</p>
                </div>

                <div class="block_info">
                    <p class="block_info_title"><b>Email:</b></p>
                    <p class="block_info_data">{{deal.email}}</p>
                </div>

                <div class="block_info">
                    <p class="block_info_title"><b>Endereço:</b></p>
                    {% if deal.state is not None%}
                        <p class="block_info_data">{{deal.street}} - {{deal.district}} - {{deal.city}} - {{deal.state}}</p>
                    {% endif %}
                    </div>

                <div class="block_info">
                    <p class="block_info_title"><b>Empresa:</b></p>
                    <p class="block_info_data">{{deal.organization.name}}</p>
                </div>

            </div>
        {% endif %}
    {% endfor %}
    {% if similar %}
        <div class="similars">
            <h2>Cadastros semelhantes</h2>
            {% for register in similar%}
                <a href="https://app.auvo.com.br/gerenciarClientes/cliente/{{register.0.id}}" target="_blank">
                    <div class="similar_link">
                        <div class="similar_block">
                            <div class="similar_name">
                                <p>{{register.0.name}}</p>
                            </div>
                            <div class="similar_address">
                                <p>{{register.0.street}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
    <!-- <div class="other_costumer"><p>Este é um cliente</p></div> -->
</div>
<form method="post" action="#">
    {% csrf_token %}
    <div class="buttons">
        <button action="/clients/sysop/{{id}}" class="btn_jmp">
            Pular
        </button>
        <button type="submit" class="btn_add">
            Adicionar
        </button>
    </div>
</form>
</div>
{% endblock %}